%h1 Sign In
= form_tag sessions_path do
  .form-inputs
    .form-group
      = label_tag :email, "Email", class: "control-label"
      = email_field_tag :email, params[:email], placeholder: "Email", class: "form-control"
    .form-group
      = label_tag :password, "Password", class: "control-label"
      = password_field_tag :password,  params[:password], placeholder: "Password", class: "form-control"
    .form-group.form-actions
      = submit_tag "Sign in", class: "btn btn-primary"
