= render 'shared/header'

.auth-wrapper
  .container-fluid
    .row
      .col-md-6.col-lg-6.col-center
        .auth-content-wrapper
          .auth-form-wrapper
            .form-header
              %h3.form-title Log in
              = form_tag sessions_path do
                .form-inputs
                  .form-group
                    = email_field_tag :email, params[:email], placeholder: "Email", class: "form-control"
                  .form-group
                    = password_field_tag :password,  params[:password], placeholder: "Password", class: "form-control"
                  .form-group.form-actions
                    = submit_tag "Sign in", class: "btn btn-primary"
                    
= render 'shared/footer'
