.auth-wrapper
  .container-fluid
    .row
      .col-md-6.col-lg-6.col-center
        .auth-content-wrapper
          .auth-form-wrapper
            .form-header
              %h3.form-title Sign up

            = form_for @user do |f|
              - if @user.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
                  %ul
                    - @user.errors.full_messages.each do |msg|
                      %li= msg
              %form.form-horizontal
                %fieldset
                  .form-group
                    = f.text_field :first_name, placeholder: "First name", class: "form-control"
                  .form-group
                    = f.text_field :last_name, placeholder: "Last name", class: "form-control"
                  .form-group
                    = f.email_field :email, placeholder: "Email", class: "form-control"
                  #password.form-group
                    = f.password_field :password, placeholder: "Password", class: "form-control"
                  #password_confirmation.form-group
                    = f.password_field :password_confirmation, placeholder: "Password confirmation",          class: "form-control"
                  .form-group
                    = f.submit 'Sign up', class: "btn btn-primary"
