= form_for @tour do |f|
  - if @tour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tour.errors.count, "error")} prohibited this tour from being saved:"
      %ul
        - @tour.errors.full_messages.each do |msg|
          %li= msg

  %form.form-horizontal
    %fieldset
      %legend Create tour
      .form-group
        = f.label :name, class: "col-lg-2 control-label"
        = f.text_area :name, placeholder: "name", class: "form-control"

      .form-group
        = f.label :outline, class: "col-lg-2 control-label"
        = f.text_area :outline, placeholder: "outline", class: "form-control"

      .form-group
        = f.label :description, class: "col-lg-2 control-label"
        = f.text_area :description, placeholder: "description", class: "form-control"

      .form-group
        = f.label :minimum_number, class: "col-lg-2 control-label"
        = f.number_field :minimum_number, class: "form-control"

      .form-group
        = f.label :maximum_number, class: "col-lg-2 control-label"
        = f.number_field :maximum_number, class: "form-control" 

      .form-group
        = f.label :rendezvous, class: "col-lg-2 control-label"
        = f.text_field :rendezvous, class: "form-control"

      .form-group
          // = render partial: "tour_flow_fields", locals: { tf: tf }

      .form-group
        = f.submit 'Create', class: "btn btn-primary"
