%h1 Listing reviews

%table
  %thead
    %tr
      %th Trip
      %th User
      %th Tour
      %th Body
      %th Rating
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.trip_id
        %td= review.user_id
        %td= review.tour_id
        %td= review.body
        %td= review.rating
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
